<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>46738159334-vrimb04j30m3bukjtak6e64uqqinfp8j.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.46738159334-vrimb04j30m3bukjtak6e64uqqinfp8j</string>
	<key>API_KEY</key>
	<string>AIzaSyDTIQ-kgKyTTBwA4ZnOx87IOoQ0DIVBzD4</string>
	<key>GCM_SENDER_ID</key>
	<string>46738159334</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>edu.oregonstate.fisherv.wasteagram</string>
	<key>PROJECT_ID</key>
	<string>wasteagram-9a54c</string>
	<key>STORAGE_BUCKET</key>
	<string>wasteagram-9a54c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:46738159334:ios:0281ca032d01b48903ad27</string>
	<key>DATABASE_URL</key>
	<string>https://wasteagram-9a54c.firebaseio.com</string>
</dict>
</plist>